<%= form_for(@leacture) do |f| %>
  <% if @leacture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leacture.errors.count, "error") %> prohibited this leacture from being saved:</h2>

      <ul>
      <% @leacture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :presentation_id, 'Choose from existing presentation' %><br>
    <%= f.select :presentation_id, Presentation.all.collect {|p| [ p.title, p.id ] } %>
  </div>

  Or you can upload the presetation from <%= link_to 'Here',presentations_path%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
