<%= form_for @leacture, :html => { :class => "form-horizontal leacture" } do |f| %>

    <% if @leacture.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@leacture.errors.count, "error") %> prohibited this leacture from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @leacture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@leacture[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@leacture[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :presentation_id, 'Choose existing presentations', :class => 'control-label' %>
    <div class="controls">
      <%= f.select :presentation_id, Presentation.all.collect{|p| [ p.title, p.id ] }, :class => 'form-control' %>
    </div>
    or create your <%= link_to 'own presentation', new_presentation_path%>
    <%= error_span(@leacture[:presentation_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            leactures_path, :class => 'btn btn-default' %>

<% end %>
